<div class="creation overlay">
  <div class="update-wrapper">
    <h3>Members</h3>
    <div class="members-delete-wrapper">
      <div class="headings">
        <p>Name</p>
        <p>Email</p>
        <p>Delete</p>
      </div>
      @for (member of members(); track member.id) {
        <div class="member-remove">
          <div class="member-details">
            <p>{{ member.firstName }} {{ member.lastName }}</p>
            <p>{{ member.email }}</p>
            <button (click)="onRemoveMember(member)">
              <i class="fa-solid fa-user-xmark"></i>
            </button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
