<nav>
  @if (navbar()) {
    <div class="logo">
      <h1>Proman</h1>

      <button (click)="toggleNavbar()"><<</button>
    </div>
    <div class="tabs-wrapper">
      @for (menu of menuTabs; track $index) {
        <app-menu-tab [menu]="menu"></app-menu-tab>
      }
    </div>
    <div class="log-out">
      <img src="" alt="" />
      <button (click)="logout()">log out</button>
      <button>Settings</button>
    </div>
  }
  @else { 
  <button (click)="toggleNavbar()">>></button>
  }
</nav>
