.dashboard {
    padding: 0 1rem;
    color: black;


    .heading {
        display: flex;
        color: black;
        margin-bottom: 24px;
    }

}


.overview-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


// .members {
//     display: flex;

//     .member {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         background-color: var(--secondary);
//         color: var(--gray);
//         border-radius: 24px;
//         height: 20px;
//         width: 20px;
//         margin-left: -8px;
//         box-shadow: 1px 1px 2px var(--accent);

//         &:nth-child(odd) {
//             background-color: var(--accent);
//         }
//     }
// }

.overview {
    display: flex;
    flex-direction: column;
    background-color: var(--main);
    border-radius: 24px;
    padding: 1rem;
    gap: 24px;
}

.black {
    color: black;
}

.gray{
    color: var(--gray);
    h3{
        cursor: pointer;
    }
}

.task-heading {
    gap: 24px;
}

.task-wrapper {
    padding: 1rem;
    background-color: var(--gray);
    border-radius: 24px;
    margin-bottom: 1.5rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.project-overview {
    order: 2;
}

.task-description {
    display: none;

    &.open {
        display: flex;
        flex-direction: column;
    }
}

.task-title {
    display: flex;
    min-width: fit-content;
}



:host {
    padding: 1rem;
}


.task-fill{
    padding: 1rem;
    border-radius: 24px;
    background-color: var(--gray);
}

.tasks{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.task{
    padding: 1rem;
}

.project-link {
    cursor: pointer;
}