<div class="creation overlay">
  <div class="creation-wrapper">
    <h2>Create a project</h2>
    <form #projectCreation="ngForm" (ngSubmit)="createProject(projectCreation)">
      <label for="projectName">Projectname:</label>
      <input required type="text" name="projectName" id="projectName" ngModel />
      <label for="description">Description:</label>
      <input required type="text" name="description" id="description" ngModel />
      <label for="status">Status</label>
      <input type="text" name="status" id="status" ngModel />
      <div class="input-wrapper">
        <label for="members">Add Members</label>
        <select name="members" multiple [(ngModel)]="selectedMemberIds">
          @for (user of users(); track user.id) {
            @if (user.id !== currentUser?.id) {
              <option [ngValue]="user">
                {{ user.firstName }} {{ user.lastName }}
              </option>
            }
          }
        </select>
      </div>
      <label for="deadline">Deadline</label>
      <!-- maybe add current date as base value -->
      <input required type="date" name="deadline" id="deadline" ngModel />
      <button type="submit" class="btn-fill">Create Project</button>
    </form>
  </div>
</div>
