.task-item-wrapper {
    display: flex;
    position: relative;
    align-items: center;

    input {
        width: 100%;
    }

    button {
        position: absolute;
        right: 0;
        top: 0;
        width: 18px;
        height: 32px;
        margin: 0;
        border-radius: 8px;
    }
}

.task-items-wrapper{
    padding: 0 1rem; 
    font-size: 16px;
}

.task-item {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-top: 0.5rem;
    button {
        height: 20px;
        min-width: 30px;
        color: var(--text-primary);
        margin: 0;
        cursor: pointer;
    }
}

:host{
    width: 100%;
}