<div class="task-item-wrapper">
  <input
    type="text"
    name="taskItems"
    placeholder="Add subtask..."
    [(ngModel)]="newTaskItem"
  />
  <button type="button" class="btn-fill" (click)="addTaskItem()">Add</button>
</div>
<div class="task-items-wrapper">
  @for (taskItem of taskItems(); track $index) {
    <span class="task-item"
      >{{ taskItem }}
      <button type="button" class="no-btn" (click)="removeTask(taskItem, $index)">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </span>
  }
</div>
