<div class="tasks-wrapper" cdkDropListGroup>
  @for (status of taskStatus; track status) {
    <div
      class="task-wrapper"
      cdkDropList
      id="{{ status.replace(' ', '-') }}"
      [cdkDropListData]="tasks()"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="task-status-wrapper">
        <h4 id="status">{{ status.toUpperCase() }}</h4>
        <app-create-task [status]="status" [currentProject]="project()"></app-create-task>
      </div>
      <div class="tasks">
        @for (task of tasks(); track task.id) {
          @if (task.status === status) {
            <div class="task" cdkDrag [cdkDragData]="task">
              <div class="task-heading">
                <div class="task-title-wrapper">
                  <div class="task-title">
                    <button
                      (click)="openTaskDetails(task)"
                      class="chevron-down"
                      [class.open]="taskDetails() === task.id"
                    >
                      <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <h4>{{ task.title }}</h4>
                  </div>
                  <app-open-update-task
                    [currentProject]="project()!"
                    [currentTask]="task"
                  ></app-open-update-task>
                </div>
                <div class="stats">
                  <div class="status">
                    <p>Status</p>
                    <p class="black">{{ task.status }}</p>
                  </div>
                  <div class="deadline">
                    <p>Deadline</p>
                    <p class="black">
                      {{ task.deadline | date: "yyyy-MM-dd" }}
                    </p>
                  </div>
                  <div class="members-wrapper">
                    <p>Members</p>
                    <div class="members">
                      @for (member of task.members; track member.id) {
                        <div
                          class="member"
                          (click)="openDeleteMember(member.id, task.id)"
                        >
                          <p>{{ member.firstName[0] }}</p>
                          <button
                            class="delete-member"
                            (click)="removeUser(task.id, member.id)"
                            [class.open]="
                              deleteMember()?.userId === member.id &&
                              deleteMember()?.taskId === task.id
                            "
                          >
                            -
                          </button>
                        </div>
                      }
                    </div>
                  </div>
                  <app-delete-task [task]="task"></app-delete-task>
                </div>
              </div>
              @if (taskDetails() === task.id) {
                <div class="task-description" [class.open]="taskDetails()">
                  <p>Taskdescription</p>
                  <p class="black">{{ task.description }}</p>
                </div>
              }
            </div>
          }
        }
      </div>
    </div>
  }
</div>
