
#status {
    margin-bottom: 24px;
}

.task {
    border-bottom: 2px solid rgb(from var(--secondary) r g b / 30%);
    margin-bottom: 1rem;
}

.task-title {
    align-items: center;
    gap: 12px;
}

.task-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 712px){
    .task-heading{
        display: flex;
        justify-content: space-between;
    }
    .task-title{
        display: flex;
        order: 2;
    }

    .task{
        display: flex;
    }


    .task-title-wrapper{
        position: relative;
        gap: 12px;
        button{
            order: 1;
        }
    }
}