<div class="task-heading">
  <div class="task-title-wrapper" (click)="openTaskDetails(task())">
    <div class="task-title">
      <h4>{{ task().title }}</h4>
      @if (!sorted()) {
        <app-open-update-task
          [currentProject]="project()!"
          [currentTask]="task()"
        ></app-open-update-task>
      }
    </div>
    <button class="chevron-down" [class.open]="taskDetails() === task().id">
      <i class="fa-solid fa-chevron-down"></i>
    </button>
  </div>
  <div class="stats">
    <div class="status">
      <p>Status</p>
      <p [class]="task().status">{{ task().status }}</p>
    </div>
    <div class="deadline">
      <p>Deadline</p>
      <p class="black">
        {{ task().deadline | date: "yyyy-MM-dd" }}
      </p>
    </div>
    <div class="members-wrapper">
      <p>Members</p>
      <div class="members">
        @for (member of task().members; track member.id) {
          <div class="member" (click)="openDeleteMember(member.id, task().id)">
            <p>{{ member.firstName[0] }}</p>
            <button
              class="delete-member"
              (click)="removeUser(task().id, member.id)"
              [class.open]="
                deleteMember()?.userId === member.id &&
                deleteMember()?.taskId === task().id
              "
            >
              <i class="fa-solid fa-user-xmark"></i>
            </button>
          </div>
        }
      </div>
    </div>
    <app-delete-task [task]="task()"></app-delete-task>
  </div>
</div>
@if (taskDetails() === task().id) {
  <div class="task-description" [class.open]="taskDetails()">
    <h5>Taskdescription</h5>
    <p class="black">{{ task().description }}</p>
    @if (task().task_items.length > 0) {
      @for (task_item of task().task_items; track task_item.id) {
        <div class="task-item">
          <label class="container">
            <input
              type="checkbox"
              name="task-item"
              [(ngModel)]="task_item.completed"
              (change)="onCheckboxChange()" />
            {{ task_item.description }}
            <span class="checkmark"></span
          ></label>
        </div>
      }
    }
    <div class="progress-bar-wrapper">
      <div class="progress-bar" [style.width.%]="progress()"></div>
    </div>
  </div>
}
