<div class="project-page-wrapper">
  <div class="page-title">
    <app-route-back></app-route-back>
    <h2>Project</h2>
  </div>
  <div class="project-wrapper">
    @if (project(); as project) {
      <div class="project">
        <div class="heading-wrapper">
          <h4>{{ project.title }}</h4>
          <app-update-project [currentProject]="project"></app-update-project>
        </div>
        <div class="stats-wrapper">
          <div class="stats">
            <div class="status">
              <p>Status</p>
              <p [class]="project.status">{{ project.status }}</p>
            </div>
            <div class="deadline">
              <p>Deadline</p>
              <p class="black">{{ project.deadline | date: "yyyy-MM-dd" }}</p>
            </div>
            <div class="members-wrapper">
              <p>Members</p>
              <div class="members">
                @for (member of project.members; track member.id) {
                  <div class="member">
                    <p>{{ member.firstName[0] }}</p>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    }
    <div class="tasks-container">
      <div class="tasks-wrapper" cdkDropListGroup>
        @for (status of taskStatus; track status) {
          <div
            class="task-wrapper"
            cdkDropList
            id="{{ status.replace(' ', '-') }}"
            [cdkDropListData]="tasks()"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="task-status-wrapper">
              <h4 id="status">{{ status.toUpperCase() }}</h4>
              <app-create-task
                [status]="status"
                [currentProject]="project()"
              ></app-create-task>
            </div>
            <div class="tasks">
              @for (task of tasks(); track task.id) {
                @if (task.status === status) {
                  <div class="task" cdkDrag [cdkDragData]="task">
                    <app-tasks [task]="task"></app-tasks>
                  </div>
                }
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
