.project-navbar {
    display: none;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.projects-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 24px;
    color: black;
    position: relative;

    button {
        &:first-child {
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            min-width: 50px;
        }
    }
}

.projects-title {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.project-heading {
    h3 {
        cursor: pointer;
    }
}

.add-project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    align-items: center;
    gap: 8px;

    .btn-fill {
        height: 40px;
        min-width: 40px;
        width: 80px;
        border-radius: 8px;
    }
}

.projects-toolbar {
    display: flex;
    align-items: end;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;

    .search-bar {
        order: 3;
        position: relative;
        width: 260px;

        input {
            width: 100%;
            height: 40px;
        }
    }

    #searchProjects {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
    }

    .sort-projects {
        order: 2;
    }

}




@media (min-width: 780px) {
    .projects-toolbar {

        .search-bar {
            order: 2;

        }

        .sort-projects {
            order: 3;
        }

    }
}


@media (min-width: 1280px) {
    .projects-wrapper {
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
    }

    .projects-list-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // flex-direction: row;
        // flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }


    :host {
        width: 90%;
        box-sizing: border-box;
    }
}