<div class="projects-wrapper">
  <div class="project-navbar">
    <button><</button>
    <button>></button>
  </div>

  <div class="projects-title">
    <h2 class="primary">Projects</h2>
    <div class="add-project-wrapper">
      <p>Add Project</p>
      <button (click)="startNewProject()" class="btn-fill">+</button>
    </div>
  </div>
  <div class="projects-list-wrapper">
    @if (projects().length > 0) {
      @if (newProject()) {
        <app-create-project
          (closeCreateMenu)="startNewProject()"
        ></app-create-project>
      }

      @for (project of projects(); track project.id) {
        <app-project-component [project]="project" ></app-project-component>
      }
    } @else {
      <tr>
        <td colspan="4">
          <button (click)="startNewProject()">Start a new project now!</button>
        </td>
      </tr>
    }
  </div>
</div>
