.tab-heading{
    display: flex;
    font-weight: 600;
    button{
        display: none;
    }
}

.tab-links{
    display: flex;
    flex-direction: column;
    gap: 8px;
    a{
        text-decoration: none;
    }
}