.tab-heading{
    display: flex;
    font-weight: 600;
    margin-bottom: 12px;
    button{
        display: none;
    }
}

.tab-links{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 12px;
    transition: 0.5s all ease-in;
    a{
        text-decoration: none;
        &:hover{
            color: var(--main);
        }
    }
}