<button (click)="openCreateTask()" class="add-task-btn">Add Task</button>

@if (taskCreation()) {
  <div class="creation overlay">
    <div class="update-wrapper">
      <div class="change-heading">
        <button type="button" (click)="openCreateTask()" class="btn-hollow">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <h2>Create Task</h2>
      </div>
      @if (status()) {
        <div class="status-wrapper">
          <h3>Status:</h3>
          <h3 class="{{ status() }}">{{ status() }}</h3>
        </div>
        <form
          #taskCreation="ngForm"
          (ngSubmit)="createTask(taskCreation, status()!)"
        >
          <div class="input-wrapper">
            <label for="taskName">Task:</label>
            <input required type="text" name="name" id="taskName" ngModel />
          </div>
          <div class="input-wrapper">
            <label for="description">Description:</label>
            <input
              required
              type="text"
              name="description"
              id="description"
              ngModel
            />
          </div>
          <div class="input-wrapper">
            <label for="members">Add Members</label>
            <select name="members" multiple [(ngModel)]="selectedMemberIds">
              @for (
                member of currentProject()?.members ?? [];
                track member.id
              ) {
                <option [ngValue]="member.id">
                  {{ member.firstName }} {{ member.lastName }}
                </option>
              }
            </select>
          </div>
          <div class="input-wrapper">
            <label for="deadline">Deadline</label>
            <input required type="date" name="deadline" id="deadline" ngModel />
          </div>
          <div class="btn-wrapper">
            <button type="submit" class="btn-fill">Create Task</button>
          </div>
        </form>
      } @else {
        <form
          #taskCreation="ngForm"
          (ngSubmit)="createTask(taskCreation, status()!)"
        >
          <div class="input-wrapper">
            <label for="taskName">Task:</label>
            <input required type="text" name="name" id="taskName" ngModel />
          </div>
          <div class="input-wrapper">
            <label for="description">Description:</label>
            <input
              required
              type="text"
              name="description"
              id="description"
              ngModel
            />
          </div>
          <div class="input-wrapper">
            <label for="members">Add Members</label>
            <select name="members" multiple [(ngModel)]="selectedMemberIds">
              @for (
                member of currentProject()?.members ?? [];
                track member.id
              ) {
                <option [ngValue]="member">
                  {{ member.firstName }} {{ member.lastName }}
                </option>
              }
            </select>
          </div>
          <div class="input-wrapper">
            <label for="deadline">Deadline</label>
            <input required type="date" name="deadline" id="deadline" ngModel />
          </div>
          <div class="btn-wrapper">
            <button type="submit" class="btn-fill">Create Task</button>
          </div>
        </form>
      }
    </div>
  </div>
}
