/* You can add global styles to this file, and also import other style files */
:root {

    --background: #F2F2F2;

    --main: rgb(79, 79, 212);
    --main-hover: #5B5BD7;

    --secondary: rgb(79, 146, 212);

    --border: #4F92D440;

    --accent: rgb(146, 79, 212);
    --accent-hover: #AB78DE;


    --text-primary: #3B3B3B;
    --text-secondary: #5E5E5E;
    --text-muted: #BDBDBD;

    --text: rgb(244, 244, 244);
    --text_paragraph: rgb(0, 0, 0);

    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    --gray: #f5f5f5;
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --main: #181818;
//         --secondary: #242424;
//         --text: #ffffff;
//         --border: #3a3a3a;
//     }
// }


body {
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--text-primary);

    p {
        color: var(--text-secondary);
        margin: 0.2rem 0;
        font-size: 16px;
    }

    a {
        color: inherit;
    }

    h1 {
        font-size: 32px;
        margin: 0.4rem 0;
    }

    h2 {
        font-size: 28px;
        margin: 0.4rem 0;
        color: var(--main);
    }

    h3 {
        font-size: 20px;
        margin: 0.4rem 0;
    }

    h4 {
        font-size: 18px;
        margin: 0.4rem 0;
    }

    h5 {
        margin: 0.4rem 0;
        color: var(--text-secondary);
    }


}

.navbar {
    padding: 1rem;
    background-color: #0f172a;
}

.primary {
    color: var(--main);
}

:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // border: solid 3px yellow;
    // /* for debugging purposes */
}

.main {
    min-height: 100%;
}


.btn-fill {
    background-color: var(--accent);
    border: none;
    border-radius: 24px;
    height: 40px;
    color: var(--gray);
    font-size: 20px;
    transition: all 2s;
    min-width: 120px;

    &:hover {
        background-color: var(--accent-hover);
    }
}

.btn-hollow {
    position: absolute;
    left: 24px;
    border: none;
    background: none;
    width: 40px;
    color: black;
    font-size: 20px;
    transition: all 0.5s;
}

.chevron-down {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;

    &.open {
        rotate: 180deg;
    }
}


// projects

.project {
    background-color: var(--gray);

    padding: 1rem;
    border-radius: 24px;
    border: 2px solid var(--border);

    .project-heading {
        display: flex;
        flex-direction: column;

        h3 {
            margin: 0.2rem 0;
        }

    }
}


.members {
    display: flex;
    min-width: fit-content;

    .member {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary);
        color: var(--gray);
        border-radius: 24px;
        height: 20px;
        width: 20px;
        margin-left: -8px;

        &:nth-child(odd) {
            background-color: var(--accent);
        }
    }
}

.status,
.deadline,
.members-wrapper {
    display: flex;
    flex-direction: column;

    p {
        margin: 0.2rem 0;
        font-size: 12px;

        &:first-of-type {
            color: var(--text-muted);
        }
    }
}

.members {
    flex-direction: row-reverse;
    margin: 0.2rem;
}

.stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    align-items: end;
}

// task

.task-heading {
    gap: 24px;
}

.task-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--gray);
    border-radius: 24px;
    margin-bottom: 1.5rem;
    border: 2px solid var(--border);

    &:last-child {
        margin-bottom: 0;
    }
}

.project-overview {
    order: 2;
}

.task-description {
    display: none;

    &.open {
        display: flex;
        flex-direction: column;
    }
}

.task-title {
    display: flex;
    min-width: fit-content;
}

.add-task-btn {
    background: var(--accent);
    color: var(--gray);
    height: 30px;
    width: 100px;
    border-radius: 24px;
    border: none;
}

.open-change-task-btn {
    background: none;
    border: none;
    color: var(--text_paragraph2);
}


.delete-member {
    display: none;

    &.open {
        display: block;
        position: absolute;
        height: 40px;
        width: 60px;
        background: var(--secondary);
        border-radius: 8px;
        border: none;
        top: -50px;
        color: var(--gray);
        box-shadow: 2px 2px 2px var(--text-muted);

        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);

            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid var(--secondary);
        }
    }
}


input {
    height: 32px;
    border-radius: 8px;
    // border: 2px solid var(--border);
    border: none;
    padding: 0 1rem;

    &:focus {
        outline: 2px solid var(--border);
    }
}

button i {
    cursor: pointer;
}



form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;

    .input-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 4px;
    }

}

.no-btn {
    border: none;
    background: none;
    color: var(--gray);

    i {
        font-size: 20px;
    }
}


.overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    pointer-events: auto;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
}


.task {
    border-bottom: 2px solid rgb(from var(--secondary) r g b / 30%);
    margin-bottom: 1rem;
}

.warning {
    color: red;
}

.heading-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
}

.active {
    color: #24AA18;
}

.progress {
    color: #1237CD;
}

.review {
    color: #FFB20C;
}

.closed {
    color: #BD153F;
}

select {
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.5rem;
    min-height: 40px;

    &:focus {
        outline: 2px solid var(--border);
    }
}


.page-title {
    display: flex;
    gap: 8px;
    align-items: center;
}


.update-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    z-index: 101;
    background: var(--gray);
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
    color: black;
    justify-content: space-between;

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;

        button {
            margin-top: 24px;
        }
    }

    .change-heading {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
    }

    pointer-events: auto;
}

i{
    color: var(--text-muted);
}