/* You can add global styles to this file, and also import other style files */
:root {

    --background: #F2F2F2;

    --main: rgb(79, 79, 212);
    --main-hover: #5B5BD7;

    --secondary: rgb(79, 146, 212);

    --border: #4F92D440;

    --accent: rgb(146, 79, 212);
    --accent-hover: #AB78DE;


    --text-primary: #3B3B3B;
    --text-secondary: #5E5E5E;
    --text-muted: #BDBDBD;

    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    --gray: #f5f5f5;

    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main: rgb(79, 79, 212);
        --secondary: rgb(79, 146, 212);
        --border: #4F92D440;
    }
}


// ::view-transition-old(root) {
//     animation: slide-out 500ms ease-in;
// }

.navbar {
    view-transition-name: navbar;
}

::view-transition-old(navbar),
::view-transition-new(navbar) {
    animation: none;
}

::view-transition-old(root) {
    animation: page-out 180ms ease-out;
}

::view-transition-new(root) {
    animation: page-in 220ms ease-out;
}

@keyframes page-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes page-in {
    from {
        opacity: 0;
        transform: translateY(4px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {

    margin: 0;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--text-primary);

    p {
        color: var(--text-secondary);
        margin: 0.2rem 0;
        font-size: 16px;
    }

    a {
        color: inherit;
        &.active{
            color: var(--main);
        }
    }

    h1 {
        font-size: 32px;
        margin: 0.4rem 0;
    }

    h2 {
        font-size: 28px;
        margin: 0.4rem 0;
        color: var(--main);
    }

    h3 {
        font-size: 20px;
        margin: 0.4rem 0;
    }

    h4 {
        font-size: 18px;
        margin: 0.4rem 0;
    }

    h5 {
        margin: 0.4rem 0;
        color: var(--text-secondary);
    }


}

main{
    padding: 1rem 2.5rem;
}

.navbar {
    padding: 1rem;
    background-color: #0f172a;
}

.primary {
    color: var(--main);
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}


// auth
.login-register-wrapper {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background-color: var(--main);
    border-radius: 24px;
    padding: 1rem;
    align-items: center;
    gap: 24px;
    min-width: 320px;
    color: var(--background);

    p {
        color: white;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;

        .form-content-wrapper {
            display: flex;
            flex-direction: column;
            gap: 8px;

            input {
                height: 40px;
                border: none;
                border-radius: 24px;
                padding-left: 1rem;

                &:focus {
                    outline: solid 2px var(--accent);
                }
            }
        }
    }
}



:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // border: solid 3px yellow;
    // /* for debugging purposes */
}

.main {
    min-height: 100%;
}


.btn-fill {
    background-color: var(--accent);
    border: none;
    border-radius: 24px;
    height: 40px;
    color: var(--gray);
    font-size: 20px;
    transition: all 2s;
    min-width: 120px;

    &:hover {
        background-color: var(--accent-hover);
    }
}

.btn-hollow {
    position: absolute;
    left: 24px;
    border: none;
    background: none;
    width: 40px;
    color: black;
    font-size: 20px;
    transition: all 0.5s;
}

.chevron-down {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;

    &.open {
        rotate: 180deg;
    }
}


// projects

.project {
    background-color: var(--gray);

    padding: 1rem;
    border-radius: 24px;
    border: 2px solid var(--border);

    .project-heading {
        display: flex;
        flex-direction: column;

        h3 {
            margin: 0.2rem 0;
        }

    }
}


.members {
    display: flex;
    min-width: fit-content;

    .member {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary);
        color: var(--gray);
        border-radius: 24px;
        height: 20px;
        width: 20px;
        margin-left: -8px;
        cursor: pointer;

        &:nth-child(odd) {
            background-color: var(--accent);
        }
    }
}

.status,
.deadline,
.members-wrapper {
    display: flex;
    flex-direction: column;

    p {
        margin: 0.2rem 0;
        font-size: 12px;

        &:first-of-type {
            color: var(--text-muted);
        }
    }
}

.members {
    flex-direction: row-reverse;
    margin: 0.2rem;
}

.stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    align-items: end;
}

// task

.task-heading {
    gap: 24px;
}

.task-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--gray);
    border-radius: 24px;
    margin-bottom: 1.5rem;
    border: 2px solid var(--border);

    &:last-child {
        margin-bottom: 0;
    }
}

.project-overview {
    order: 2;
}

.task-description {
    display: none;
    padding: 0 1rem;

    &.open {
        display: flex;
        flex-direction: column;
    }
}

.task-title {
    display: flex;
    min-width: fit-content;
}

.add-task-btn {
    content: "+";
    background: var(--main);
    color: var(--gray);
    height: 30px;
    width: 100px;
    border-radius: 24px;
    border: none;
    transition: 0.5s all ease-in;

    &:hover {
        background: var(--main-hover);
    }
}

.open-change-task-btn {
    background: none;
    border: none;
    color: var(--text-secondary);
}


.delete-member {
    display: none;

    &.open {
        display: block;
        position: absolute;
        height: 40px;
        width: 60px;
        background: var(--secondary);
        border-radius: 8px;
        border: none;
        top: -50px;
        color: var(--gray);
        box-shadow: 2px 2px 2px var(--text-muted);

        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);

            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid var(--secondary);
        }
    }
}


input {
    height: 32px;
    border-radius: 8px;
    // border: 2px solid var(--border);
    border: none;
    padding: 0 1rem;

    &:focus {
        outline: 2px solid var(--border);
    }
}

button i {
    cursor: pointer;
}



form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;

    .input-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 4px;
    }

}

.no-btn {
    border: none;
    background: none;
    color: var(--gray);

    i {
        font-size: 20px;
    }
}


.overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    pointer-events: auto;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
}


.task {
    border-bottom: 2px solid rgb(from var(--secondary) r g b / 30%);
    margin-bottom: 1rem;
}

.warning {
    color: red;
}

.heading-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
}

.active {
    color: #24AA18;
}

.progress {
    color: #1237CD;
}

.review {
    color: #FFB20C;
}

.closed {
    color: #BD153F;
}

select {
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.5rem;
    min-height: 40px;

    &:focus {
        outline: 2px solid var(--border);
    }
}


.page-title {
    display: flex;
    gap: 8px;
    align-items: center;
}


.update-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    z-index: 101;
    background: var(--gray);
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
    color: black;
    justify-content: space-between;

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;

        button {
            margin-top: 24px;
        }
    }

    .change-heading {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
    }

    pointer-events: auto;
}

i {
    color: var(--text-muted);
}

@media (min-width: 712px) {
    .stats {
        justify-content: space-between;
        width: 50%;
        margin-bottom: 0.5rem;
        align-items: center;
    }

    .task-description {
        padding: 0 3rem;
    }


    .project {
        .project-heading {
            flex-direction: row;
            justify-content: space-between;
        }
    }


    .login-register-wrapper {
        box-sizing: border-box;
        padding: 1rem 2rem;
        max-width: fit-content;
        min-width: 400px;

    }
}


@media (min-width: 1280px) {

    * {
        box-sizing: border-box;
    }

    body {

        p {

            font-size: 18px;
        }

        a {
            color: inherit;
        }

        h1 {
            font-size: 40px;

        }

        h2 {
            font-size: 32px;
        }

        h3 {
            font-size: 28px;

        }

        h4 {
            font-size: 24px;
            font-weight: 400;
        }
        h5{
            font-size: 20px;
        }
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem;
        width: 25%;
        height: auto;
        max-width: 300px;
        min-height: 100vh;
    }


    main {
        margin-left: min(25%, 300px);
        width: 100%;
        box-sizing: border-box;
    }



    .update-wrapper {
        position: absolute;
        width: 50%;
        height: fit-content;
        border-radius: 24px;
        box-shadow: 2px 2px 2px var(--background);
        padding: 1rem 2rem;
        min-width: 450px;

        .change-heading {
            flex-direction: row-reverse;

        }
    }

}